################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiscConceptPractice/obj
/MiscConceptPractice/bin
